# ÄÄÄ React ÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ
frontend/node_modules/
frontend/build/
ECHO est  activado.
# ÄÄÄ Python ÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ
backend/venv/
backend/__pycache__/
*.pyc
ECHO est  activado.
# ÄÄÄ Misc ÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄÄ
.DS_Store
Thumbs.db
